html,body,div,h1,h2,h3,h4,h5,h6,p,img,ul,li,input,span,a,i {
  padding: 0;
  margin: 0;
}

html {
  font-family: "microsoft yahei", "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
}

s, strike, del {
  text-decoration: line-through;
}
